services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    container_name: speedcam-backend

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    container_name: speedcam-frontend
